/* Elemento main */
main {
  margin: 0 auto;
  background-color: var(--bs-light);
  width: inherit;
  min-height: 85vh;
  max-width: 80%;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;

}