/* Elemento main */
main {
  background-color: var(--bs-light);
  width: inherit;
  min-height: 85vh;
  max-width: 80%;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}