.card {
    margin: 5px 0 5px 0;
    padding: 1rem;
    width: 90%;
    border-radius: 3px;
    border: solid var(--bs-gray-300) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card h2 {
    width: 100%;
    font-family: "Science Gothic", sans-serif;
    border-bottom: solid var(--bs-gray-500) 2px;
    padding: 6px;
}

.card p {
    margin: 15px 0 15px 0;
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
}

.card img {
    
    width: 80%;
}

.card pre {
    border: solid var(--bs-gray-300) 1px;
    padding: 5px;
    background-color: var(--bs-gray-200);
    width: 100%;
}