*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Definición de variables */
:root {
  /* Colores principales */
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #0dcaf0;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  /* Grises */
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
}

/* Elementos html y body*/
html,
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* Elemento header */
header {
  width: inherit;
  min-height: 15vh;

  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

header > h1 {
  width: 80%;
  font-size: 4rem;
  text-align: center;
  font-family: "Science Gothic", sans-serif;
  font-weight: 150;
}

header img {
  filter: brightness(0) invert(1);
}

/* Elemento main */
main {
  width: inherit;
  min-height: 85vh;
  padding: 15px;

  /*Colocara un único elemento en el centro del elemento que lo contiene*/
  display: flex;
  justify-content: center;
}
/* Elemento footer */
footer {
  width: inherit;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  font-family: "Science Gothic", sans-serif;
  font-weight: 150;
}
