<header>
    <nav>
        <ul class="main-menu">


            <li><a href="/">Inicio</a></li>
            

            <!-- NAVEGADOR PARA LA PRÁCTICA DE HTML -->
            <li class="has-dropdown">
                <a href="/practica_html">Práctica HTML</a>
                
                <ul class="dropdown practica-list">
                    <li><a href="#ejercicio1">1. Maquetación (I)</a></li>
                    <li><a href="#ejercicio2">2. Maquetación (II)</a></li>
                    <li><a href="#ejercicio3">3. Página Web</a></li>
                    <li><a href="#ejercicio4">4. Maquetación (III)</a></li>

                    <li class="has-dropdown-sub">
                        <a href="#ejercicio5">5. Tablas</a>
                        <ul class="dropdown sub-dropdown">
                            <li><a href="#ejercicio5a">5.1 Apartado 1</a></li>
                            <li><a href="#ejercicio5b">5.2 Apartado 2</a></li>
                            <li><a href="#ejercicio5c">5.3 Apartado 3</a></li>
                            <li><a href="#ejercicio5d">5.4 Apartado 4</a></li>
                            <li><a href="#ejercicio5e">5.5 Ajedrez</a></li>
                        </ul>
                    </li>

                    <li class="has-dropdown-sub">
                        <a href="#ejercicio6">6. Formularios (I)</a>
                        <ul class="dropdown sub-dropdown">
                            <li><a href="#ejercicio6a">6.1 Apartado 1</a></li>
                            <li><a href="#ejercicio6b">6.2 Apartado 2</a></li>
                            <li><a href="#ejercicio6c">6.3 Apartado 3</a></li>
                        </ul>   
                    </li>

                    <li><a href="#ejercicio7">7. Formularios (II)</a></li>

                    <li class="has-dropdown-sub">
                        <a href="#ejercicio8">8. Maquetación web con tablas</a>
                        <ul class="dropdown sub-dropdown">
                            <li><a href="#ejercicio8a">8.1 Apartado 1</a></li>
                            <li><a href="#ejercicio8b">8.2 Apartado 2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>


        </ul>
    </nav>
</header>