<header>
    <nav>
        <ul class="main-menu">

            
            <li><a href="/">Inicio</a></li>
            

            <!-- NAVEGADOR PARA LA PRÁCTICA DE HTML -->
            <li class="has-dropdown">
                <a href="#practica-inicio">Práctica HTML</a>
                
                <ul class="dropdown practica-list">
                    <li><a href="#ejercicio1">1. Maquetación (I)</a></li>
                    <li><a href="#ejercicio2">2. Maquetación (II)</a></li>
                    <li><a href="#ejercicio3">3. Página Web</a></li>
                    <li><a href="#ejercicio4">4. Maquetación (III)</a></li>

                    <li class="has-dropdown-sub">
                        <a href="#ejercicio5">5. Tablas</a>
                        <ul class="dropdown sub-dropdown">
                            <li><a href="#ejercicio5a">Apartado 1</a></li>
                            <li><a href="#ejercicio5b">Apartado 2</a></li>
                            <li><a href="#ejercicio5c">Apartado 3</a></li>
                            <li><a href="#ejercicio5d">Apartado 4</a></li>
                            <li><a href="#ejercicio5e">Ajedrez</a></li>
                        </ul>
                    </li>

                    <li class="has-dropdown-sub">
                        <a href="#ejercicio6">6. Formularios (I)</a>
                        <ul class="dropdown sub-dropdown">
                            <li><a href="#ejercicio6a">Apartado 1</a></li>
                            <li><a href="#ejercicio6b">Apartado 2</a></li>
                            <li><a href="#ejercicio6c">Apartado 3</a></li>
                        </ul>   
                    </li>

                    <li><a href="#ejercicio7">7. Formularios (II)</a></li>

                    <li class="has-dropdown-sub">
                        <a href="#ejercicio8">8. Maquetación web con tablas</a>
                        <ul class="dropdown sub-dropdown">
                            <li><a href="#ejercicio8a">Apartado 1</a></li>
                            <li><a href="#ejercicio8b">Apartado 2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>


        </ul>
    </nav>
</header>