<form action="#" method="post">

        <h1>Exercisi: Preferències de l'Usuari en Informàtica</h1>
        <p>Respon les preguntes següents i envia el formulari per enviar les teves respostes</p>
        
        <!-- TEXT -->
        <label for="username">Nom d'usuari: </label>
        <input name="username" type="text" required><br><br>
        
        <!-- PASSWORD -->
        <label for="password">Contrasenya: </label>
        <input name="password" type="password" required><br><br>
        
        <!-- MAIL -->
        <label for="mail">Correu electrònic: </label><input name="mail" type="mail" required><br><br>
        <label for="age">Edat: </label><input name="age" type="number" required><br><br>
        
        <!-- RADIO -->
        <fieldset style="border: 0; padding: 0; margin: 0;">
            <legend>Sistema operativo preferido: </legend>
            <input type="radio" name="so" value="windows" id="windows">
            <label for="windows">Windows</label><br>
            <input type="radio" name="so" value="mac" id="mac">
            <label for="mac">Mac</label><br>
            <input type="radio" name="so" value="linux" id="linux">
            <label for="linux">Linux</label><br>
        </fieldset>

        <br>

        <!-- CHECKBOX -->
        <fieldset style="border: 0; padding: 0; margin: 0;">
            <legend>Llenguatges de programació preferits:</legend>
            
            
            <input type="checkbox" name="language" value="python" id="python">
            <label for="windows">Python</label><br>

            <input type="checkbox" name="language" value="javascript" id="javascript">
            <label for="mac">JavaScript</label><br>
            
            <input type="checkbox" name="language" value="java" id="java">
            <label for="linux">Java</label><br>
            
            <input type="checkbox" name="language" value="csharp" id="csharp">
            <label for="csharp">C#</label><br>
            
        </fieldset><br>

        <!-- SELECT -->
        <label for="editor">Eina de desenvolupament preferida:</label>
        <select name="editor" id="editor">
            <option value="vscode" selected>Visual Studio Code</option>
            <option value="sublime" >Sublime Text</option>
            <option value="notepad" >Notepad++</option>
        </select>
        <br><br>

        <!-- DATE -->
        <label for="date">Data de naixement: </label>
        <input type="date" name="date"><br><br>

        <!-- COLOR -->
        <label for="color">Color preferit: </label>
        <input type="color" name="color" id="color">
        <br><br>

        <!-- RANGE -->
        <label for="range">Nivell d'experiencia (1-10): </label>
        <input type="range" name="range" id="range" min="1" max="10" step="1">
        <br><br>

        <!-- FILE -->
        <label for="file">Puja el teu curriculum o un projecte: </label>
        <input type="file" name="file" id="file">
        <br><br>
        
        <!-- TEXT AREA -->
        <label for="coment">Comentaris adicionals: </label>
        <br>
        <textarea name="coment" id="coment" rows="5" cols="50"></textarea>
        <br><br>

        <!-- SUBMIT BUTTON -->
        <button type="submit">Enviar</button>


    </form>