<form action="#" method="POST" id="form_user_creation">
  <h1>Regístrate</h1>
  <p>This is the remix</p>

  <div class="form-group">
    <label for="username">Usuario</label>
    <input
      type="text"
      id="username"
      placeholder="Usuario"
      name="username"
      required
    />
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input
      type="text"
      id="password"
      placeholder="Contraseña"
      name="password"
      required
    />
  </div>

  <div class="form-group">
    <label for="remember">Recuerdame</label>
    <input type="checkbox" name="remember" id="remember" name="remember" />
  </div>

  <div class="form-group">
    <input type="submit" value="Enviar" />
  </div>

  <button type="submit"></button>
</form>
