*,*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/* Elementos html y body*/
html, body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* Elemento header */
header {
    width: inherit;
    min-height: 10vh;

    border: solid black 1px;
    
}

/* Elemento main */
main {
    
    width: inherit;
    min-height: 80vh;

    border: solid black 1px;
    

}
/* Elemento footer */
footer {

    width: inherit;
    min-height: 10vh;

    border: solid black 1px;

}