<!DOCTYPE html>
<html lang="{{ config.site_language }}">
<head>

    <!-- METAS -->
    <!-- 
        Define la codificación del documento (UTF-8 soporta acentos, emojis y prácticamente todos los caracteres).
    -->
    <meta charset="UTF-8">

    <!-- 
        Ajusta el comportamiento en pantallas pequeñas: 
        - width=device-width: usa el ancho real del dispositivo
        - initial-scale=1.0: evita zoom inicial
        Es esencial para diseño responsive.
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 
        Indica a Internet Explorer que use el motor más reciente disponible.
        Hoy casi no se usa, pero en entornos corporativos evita compatibilidades antiguas.
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 
        Descripción breve de la página.
        Importante para SEO y para la vista previa cuando la página se comparte.
    -->
    <meta name="description" content="{{config.site_description}}">

    <!-- 
        Lista de palabras clave relacionadas con el contenido.
        Hoy tienen poco impacto en SEO, pero no molestan y algunos buscadores alternativos aún las usan.
    -->
    <meta name="keywords" content="{{config.site_keywords}}">

    <!-- 
        Autor del documento o empresa responsable.
        Útil para documentación y algunos clasificadores de contenido.
    -->
    <meta name="author" content="{{config.site_auhor}}">

    <!-- REFRESCAR PÁGINA -->
    <!-- <meta http-equiv="refresh" content="5"> -->

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <!-- TÍTULO DE LA PÁGINA -->
    <title>{% block title %}{{ config.site_title }}{% endblock %}</title>

    <!-- CSS global -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Fuentes importadas mediante CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap" rel="stylesheet">

    <!-- JS global -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</head>
<body>

    {% block body %}{% endblock %}

    
</body>
</html>
