<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Mi Aplicación{% endblock %}</title>

    <!-- CSS global -->
    <link rel="stylesheet" href="{{ url_for('public', filename='styles.css') }}">

    {% block head_extra %}{% endblock %}

</head>
<body>

    {% block body %}{% endblock %}

    <!-- JS global -->
    <script src="{{ url_for('public', filename='script.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
