{% extends "base.html" %}

<!-- 
{% block title %}{{config.site_title}}{% endblock %}
-->

{% block body %}

{% include "componentes/header.html" %}


<!-- ESCRIBIREMOS CÓDIGO AQUI -->
<main>


    <!-- contenido del main -->
    <!-- 
     <h1>Lista de usuarios</h1>

    <ul>
        {% for user in users %}
            <li>
                ID: {{ user.id }} |
                Nombre: {{ user.name }} |
                Password: {{ user.password }}
            </li>
        {% endfor %}
    </ul>
    -->


</main>

{% include "componentes/footer.html" %}

{% endblock %}
