{% extends "base.html" %}


{% block head_extra %}
<!-- CSS DE LA PÁGINA -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
<!-- CSS COMPONENTES -->
<!-- CSS HEADER-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<!-- CSS MAIN -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!-- CSS FOOTER -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<!-- CSS LOGIN -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_form.css') }}">
<!-- CSS SINGIN -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/practica_html.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sigIn_form.css') }}">-->
{% endblock %}

{% block body %}
{% include "componentes/header.html" %}

<!-- IMPORTAR ELEMENTOS SEGUN EL SIGUIENTE ESQUEMA (Los porcentajes sin la "\")  -->
<!-- {\%\ include "componentes/archivo.html" \%\}  -->
<!--
  ¿Qué cambia en una carta?

  - id del contenedor
  - Contenido del h2
  - Nombre de la imagen
  - Alt de la imagen
  - Contenido de la etiqueta code

  Podriamos dinamizar la carga de cartas para no escribirlos uno a uno a partir de un archivo de configuración

  1. Crear un archivo de configuración JSON en la carpeta config llamado: practica_html.json
  2. Colocar los datos necesarios para cada ejercicio.
  3. Cargar dicho archivo al acceder a la página.
  4. Utilizar el lenguaje de plantilla de flask para, mediante un bucle, cargar todas las cartas.

-->
<main>

    <div class="card" id="ejercicio1">
        <h2>Ejercicio 1. Maquetación (I)</h2>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ejercicio1">

        <p>Imagen de la solución</p>

        <pre>
            <code>
                &lt;div class="mi-clase"&gt;
                    &lt;p&gt;Esto es un ejemplo&lt;/p&gt;
                &lt;/div&gt;
            </code>
        </pre>

        <p>Código de la solución</p>

    </div>

    
</main>

{% include "componentes/footer.html" %}
{% endblock %}